@charset "UTF-8";
h1 {
  color: red; }

h2 {
  color: red; }

.product-img {
  max-width: 100%;
  align-items: center;
  height: 200px; }

.pagination {
  margin-right: 10%;
  margin-top: 30px; }

.col-3 {
  margin-top: 5px;
  margin-bottom: 5px; }

.card2 {
  border: 2px solid #000;
  border-radius: 7px;
  height: 95%; }

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden; }

.figure-caption {
  text-align: center; }

.card2-box {
  color: inherit;
  text-decoration: none; }

.card2-box:hover {
  color: #e14343;
  text-decoration: none; }

.card2 {
  position: relative;
  box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, 0.15);
  transition: transform linear 0.1s;
  margin-bottom: 5px;
  min-height: 333px;
  padding-bottom: 5px; }

.card2:hover {
  transform: translateY(-1px);
  box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, 0.05); }

.addToCart {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 36px;
  transition: transform linear 0.1s;
  padding: 0;
  margin: 0;
  border-radius: 30%;
  /* Xóa tất cả margin */ }

.addToCart:hover {
  transform: translateY(-1px);
  box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, 0.05);
  background-color: #dbb4b4;
  cursor: pointer; }

.addToCart-detail {
  border: none;
  background-color: transparent;
  transition: transform linear 0.1s;
  padding: 0;
  width: 63px;
  height: 50px;
  margin: 0px 0px 0px 20px;
  border-radius: 30%;
  /* Xóa tất cả margin */ }

.addToCart-detail:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, 0.05);
  background-color: #dbb4b4;
  cursor: pointer; }

.select_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 36px;
  background-color: #b5b0b0;
  border-radius: 12px; }

.quantity_cart {
  position: absolute;
  top: 12px;
  right: -8px;
  width: 24px;
  height: 16px;
  border: 0.5px solid #726e6e;
  border-radius: 8px;
  background: azure;
  z-index: 1;
  font-stretch: expanded;
  color: #d86969;
  text-align: center; }

/* ======= Toast message ======== */
#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999; }

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 360px;
  max-width: 400px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s; }

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px)); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeOut {
  to {
    opacity: 0; } }

.toast--success {
  border-color: #47d864; }

.toast--success .toast__icon {
  color: #47d864; }

.toast--info {
  border-color: #2f86eb; }

.toast--info .toast__icon {
  color: #2f86eb; }

.toast--warning {
  border-color: #ffc021; }

.toast--warning .toast__icon {
  color: #ffc021; }

.toast--error {
  border-color: #ff623d; }

.toast--error .toast__icon {
  color: #ff623d; }

.toast + .toast {
  margin-top: 24px; }

.toast__icon {
  font-size: 24px; }

.toast__icon,
.toast__close {
  padding: 0 16px; }

.toast__body {
  flex-grow: 1; }

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333; }

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5; }

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer; }
